*{
    width: 100vw;
    margin: 0;
    box-sizing: border-box;
}
body{
    width: 100vw;
    height: 100vh;
    background-color: #0f1014;
    overflow-x: hidden;
}
/*---------------nav bar--------------------------*/
.navbar{
    width: 100px;
    height:100%;
    background-color:#0f1014;
    position: fixed;
}
.logo{
    width: 100%;
    margin-top: 50px;
}
.logo img{
    width: 50%;
    margin-left: 25%;
}
.logo button{
    margin-left: 5%;
    margin-top: 10px;
    width: 90%;
    height: 24px;
    border: none;
    border-radius: 20px;
    color: #f5c472;
    background-color:#27231e;
}
.option{
    width: 100%;
    margin-top: 130px;
}
.option i{
    width: 100%;
    font-size: 18px;
    color: rgb(185, 185, 185);
    text-align: center;
    margin-top: 47px;
}
.option i:hover{
    color: aliceblue;
    scale: 1.2;
}
@media only screen and (max-width:700px) {
    body{
        display: block;
    }
    .navbar{
        display: flex;
        align-items: center;
        justify-content: center;
        width: 100%;
        height:80px;
        position: relative;
    }
    .logo{
        margin-top: 0px;
        width: 25%;
        height: 80px;
        float: right;
    }
    .logo img{
        margin-top: 10px;
        height: 60px;
        width: 70px;
    }
    .logo button{
        display: none;
        /* margin-left: 17%;
        width: auto;
        height: 20px;
        margin-top: 0px; */
    }
    .option{
        display: flex;
        text-align: center;
        justify-content: center;
        margin-top:0;
        width: 75%;
        height: 80px;
        float: left;
    }
    .option i{
        margin-top: 37px;
    }
}
/* ---------------------container---------------------------*/ 
.container{
    width:94.15% ;
    height: auto;
    background-color:#0f1014;
    margin-top: 5px;
}
.hot-release{
    width: 100%;
    display: flex;
    width: 100%;
    height: 650px;
    margin-left: 100px;
}
.hi{ 
    width: 100%;
    height: 100%;
    position: relative;
    /* -webkit-mask-image:linear-gradient(rgb(0, 0, 0), transparent);
    mask-image: linear-gradient( rgb(0, 0, 0), transparent); */
}
.hi  img{
    width: 100%;
    height:110%;
    object-fit: cover;
    position:relative;
    filter:brightness(1.1);
    -webkit-mask-image:linear-gradient( rgb(0, 0, 0), transparent);
    mask-image: linear-gradient( rgb(0, 0, 0), transparent);
}
.movie-cont{
    width: 400px;
    height: 54%;
    position:absolute;
    margin-top: 190px;
    background-color: transparent ;
    margin-left: 3%;
}
.movie-cont img{
    margin-left:2% ;
    width: 65%;
}
.movie-cont p{
    width: 100%;
    background: transparent;
    margin-top: 5%;
}
.p1{
    font-size: 22px;
    color: white;
    font:bold;
}
.p2{
    font-size: 20px;
    color: rgb(191, 191, 191);
}
.p3{
    font-size: 22px;
    color: white;
}
.btn{
    width: 100%;
    background: transparent;
    margin-top: 5%;
}
.watch{
    width: 80%;
    height: 60px;
    border-radius: 10px;
    border: none;
    background-color: hsla(0, 0%, 83%, 0.1);
    color: aliceblue;
    font-size: 22px;
    font-weight: 600;
}
.plus{
    width: 15%;
    height: 60px;
    color: aliceblue;
    border-radius: 10px;
    border: none;
    font-size: 22px;
    font-weight: 600;
    margin-left: 2%;
    background-color: hsla(0, 0%, 83%, 0.1);
   
}
.plus:hover{
    background-color: hsla(0, 0%, 83%, 0.4);
    transform: scale(1.05);
}
.watch:hover{
    background-color: hsla(0, 0%, 83%, 0.4);
    transform: scale(1.05);
}
@media only screen and (max-width:700px){
    .container{
        width: 100%;
        margin-left: 0px;
    }
    .hot-release{
        margin-left: 0px;
    }
    .movie-cont{
        margin-left: 2%;
        width: 370px;
    }
}
@media only screen and (max-width:800px) {
    .movie-cont img{
        width: 54%;
        margin-left:0% ;
    }
}
/* -------------------movies-------------- */
.movie-container{
    width: 100%;
    height: 1000px;
    margin-left: 100px;
}
.movie-type{
    width: 100%;
    height: auto;
}
.typename{
    /* margin-top: 20px; */
    width: 100%;
    height: 31px;
    color: aliceblue;
    background: transparent;
    font-size: 30px;
    /* padding-top: 5px; */
    padding-left: 3%;
}
.movie{
    padding-top:38px;
    width: 100%;
    height:326px;
    padding-left: 3%;
    overflow-x:auto;
    position: relative;
    box-sizing: border-box;
    white-space: nowrap;
    overflow-y:hidden;
}
.movie-tab{
    width: 190px;
    height: 250px;
    position: relative;
    margin-left: 0.8%;
    display: inline-block;
    /* box-sizing: border-box; */
}
.movie-tab:hover{
    animation: mm 30s infinite;
    z-index: 1;
    border: 1.5px solid rgba(245, 245, 245, 0.846);
    border-radius: 6px;
}
@keyframes mm{
    0%{
        scale: 1;
    }
    1%{
        scale: 1;
    }
    4%{
        scale: 1.3;
    }
    99%{
        scale: 1.3;
    }
    100%{
        scale: 1;
    }
}
.movie-tab img{
    width: 100%;
    height: 100%;
    object-fit:cover;
    border-radius: 6px;
    position: relative;  
}
.mov-cont{
    width: 100%;
    position: absolute;
    transition: 0s;
    color: rgb(255, 255, 255);
    background-color: rgb(0, 0, 0);
    height: auto;
    bottom: 0;
    display: none;
    /* border: 1.5px solid rgba(245, 245, 245, 0.596); */
}
.btn-2{
    width: 90%;
    margin-left: 5%;
}
.watch-2{
    width: 75%;
    background-color: rgba(240, 248, 255, 0.325);
    border: none;
    border-radius: 5px;
    height: 30px;
    font-weight: 600;
    color: aliceblue;
}
.plus-2{
    width: 20%;
    height: 30px;
    background-color: rgba(240, 248, 255, 0.325);
    border: none;
    border-radius: 5px;
    font-weight: 600;
    color: aliceblue;
}
.watch-2:hover{
    background-color: rgba(240, 248, 255, 0.517);
}
.plus-2:hover{
    background-color: rgba(240, 248, 255, 0.517);
}
.mov-cont p{
    width: 100%;
    white-space: initial;
    padding: 2%;
}
.mov-rating{
    font-size: 12px;
    color: rgb(255, 255, 255);
    font-weight: 600;
}
.mov-desc{
    font-size: 12px;
    color: rgba(255, 255, 255, 0.818);
}
.movie-tab:hover .mov-cont{
    display: block;
    bottom: 0;
    border-radius:0 0 5px 5px;
    padding: 1%;
}
@media only screen and (max-width:700px){
    .movie-container{
        margin-left:0px;
    } 
} 
