*{
    width: 100vw;
    margin: 0;
    box-sizing: border-box;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
body{
    width: 100vw;
    height: 100vh;
    background-color: #0f1014;
    color:white;
    overflow-x: hidden;
    
}
.mylight{
    background-color: rgb(245, 255, 255);
    color: #0f1014;
}
/*---------------nav bar--------------------------*/
.navbar{
    width: 100px;
    height:100%;
    /* background-color:#0f1014; */
    position: fixed;
    border-right: 4px solid rgb(0, 0, 0);
}
.logo{
    width: 100%;
    margin-top: 30px;
}
.logo img{
    width: 60%;
    margin-left: 20%;
    /* color: #0f1014; */
    background-color: #0f1014;
    border-radius: 5px;
    padding: 4px;
}
.logo button{
    margin-left: 5%;
    margin-top: 10px;
    width: 90%;
    height: 24px;
    border: none;
    border-radius: 20px;
    color: #f5c472;
    background-color:#27231e;
}
.option{
    width: 100%;
    margin-top: 60px;
}
.option i{
    width: 100%;
    font-size: 18px;
    text-align: center;
    margin-top: 40px;
    color:rgb(156, 211, 211);
}
.option i:hover{
    scale: 1.2;
}
@media only screen and (max-width:700px) {
    body{
        display: block;
    }
    .navbar{
        display: flex;
        align-items: center;
        justify-content: center;
        width: 100%;
        height:80px;
        position: relative;
        border-bottom: 4px solid rgb(0, 0, 0);
    }
    .logo{
        margin-top: 0px;
        width: 20%;
        height: 80px;
        float: right;
    }
    .logo img{
        margin-top: 15px;
        height: 50px;
        width: 60px;
    }
    .logo button{
        display: none;
        /* margin-left: 17%;
        width: auto;
        height: 20px;
        margin-top: 0px; */
    }
    .option{
        display: flex;
        text-align: center;
        justify-content: center;
        margin-top:0;
        width: 75%;
        height: 80px;
        float: left;
    }
    .option i{
        margin-top: 37px;
    }
}
/* ---------------------container---------------------------*/ 
.container{
    width:94.15%;
    height: auto;
    /* background-color:#0f1014; */
    /* margin-top: 5px; */
}
.hot-release{
    width: 100%;
    display: flex;
    height: 560px;
    margin-left: 100px;
    padding: 10px;
}
.hi{ 
    width: 100%;
    height: 100%;
    position: relative;
    /* -webkit-mask-image:linear-gradient(rgb(0, 0, 0), transparent);
    mask-image: linear-gradient( rgb(0, 0, 0), transparent); */
}
.hi  img{
    width: 100%;
    height:110%;
    object-fit: cover;
    position:relative;
    filter:brightness(1.1);
    /* -webkit-mask-image:linear-gradient( rgb(0, 0, 1), transparent);
    mask-image: linear-gradient( rgb(0, 0, 1), transparent); */
}
.movie-cont{
    width: 430px;
    height:fit-content;
    padding-bottom: 10px;
    position:absolute;
    margin-top: 130px;
    background-color: transparent ;
    margin-left: 1%;
    /* background-color: #27231ea1; */
    padding-left: 1%;
    border-radius: 10px;
}
.movie-cont img{
    margin-left:2% ;
    width: 65%;
}
.movie-cont p{
    width: 100%;
    background: transparent;
    margin-top: 5%;
    font-size: 18px;
}
.p1{
    font-size: 18px;
    color: white;
    font:bold;
}
.p2{
    font-size: 20px;
    color: rgb(235, 235, 235);
}
.p3{
    font-size: 22px;
    color: white;
}
.btn{
    width: 100%;
    background: transparent;
    margin-top: 5%;
}
.watch{
    width: 75%;
    height: 55px;
    border-radius: 10px;
    border: none;
    background-color: hsla(0, 0%, 83%, 0.300);
    color: aliceblue; 
    font-size: 20px;
    font-weight: 600;
    margin-left:2% ;
}
.plus{
    width: 15%;
    height: 55px;
    color: aliceblue;
    border-radius: 10px;
    border: none;
    font-size: 22px;
    font-weight: 600;
    margin-left: 2%;
    background-color: hsla(0, 0%, 83%, 0.300); 
}
.plus:hover{
    background-color: hsla(0, 0%, 83%, 0.400);
    transform: scale(1.05);
}
.watch:hover{
    background-color: hsla(0, 0%, 83%, 0.400);
    transform: scale(1.05);
}
@media only screen and (max-width:700px){
    .container{
        width: 100%;
        margin-left: 0px;
    }
    .hot-release{
        margin-left: 0px;
    }
    .movie-cont{
        margin-top: 200px;
        margin-left: 2%;
        width: 320px;
    }
    .movie-cont p{
        font-size: 18px;
    }
}
@media only screen and (max-width:800px) {
    .movie-cont img{
        width: 54%;
        margin-left:0% ;
    }
}
/* -------------------movies-------------- */
.movie-container{
    width: 100%;
    height: 1000px;
    margin-left: 100px;
    margin-top: 100px;
}
.movie-type{
    width: 100%;
    height: auto;
}
.typename{
    /* margin-top: 20px; */
    width: 100%;
    height: 31px;
    /* color: aliceblue; */
    background: transparent;
    font-size: 26px;
    /* padding-top: 5px; */
    padding-left: 1.5%;
}
.movie{
    padding-top:38px;
    width: 100%;
    height:326px;
    padding-left: 1%;
    overflow-x:auto;
    position: relative;
    box-sizing: border-box;
    white-space: nowrap;
    overflow-y:hidden;
}
.movie::-webkit-scrollbar {
    display: none;
  }
.movie-tab{
    width: 190px;
    height: 250px;
    position: relative;
    margin-left: 0.8%;
    display: inline-block;
    /* box-sizing: border-box; */
}
.movie-tab:hover{
    animation: mm 30s infinite;
    z-index: 1;
    border: 2px solid peru;
    border-radius: 6px;
}
@keyframes mm{
    0%{
        scale: 1;
    }
    1%{
        scale: 1;
    }
    4%{
        scale: 1.3;
    }
    99%{
        scale: 1.3;
    }
    100%{
        scale: 1;
    }
}
.movie-tab img{
    width: 100%;
    height: 100%;
    object-fit:cover;
    border-radius: 6px;
    position: relative;  
}
.mov-cont{
    width: 100%;
    position: absolute;
    transition: 0s;
    color: rgb(255, 255, 255);
    background-color: rgba(0, 0, 0, 0.849);
    bottom:0;
    display: none;  
}
.movie-logo{
    width:100%;
    height: auto;
}
.btn-2{
    width: 90%;
    margin-left: 5%;
    margin: 5px;
}
.watch-2{
    width: 75%;
    background-color: rgba(240, 248, 255, 0.200);
    border: none;
    border-radius: 5px;
    height: 30px;
    font-weight: 600;
    color: aliceblue;
}
.plus-2{
    width: 20%;
    height: 30px;
    background-color: rgba(240, 248, 255, 0.200);
    border: none;
    border-radius: 5px;
    font-weight: 600;
    color: aliceblue;
}
.watch-2:hover{
    background-color: rgba(240, 248, 255, 0.317);
}
.plus-2:hover{
    background-color: rgba(240, 248, 255, 0.317);
}
.mov-cont p{
    width: 100%;
    white-space: initial;
    padding: 2%;
}
.mov-rating{
    font-size: 12px;
    color: rgb(255, 255, 255);
    font-weight: 600;
    margin: 0;
}
.mov-desc{
    font-size: 12px;
    color: rgba(255, 255, 255, 0.818);
}
.movie-tab:hover .mov-cont{
    display: block;
    bottom: 0;
    border-radius:0 0 5px 5px;
    padding: 1%;
}
@media only screen and (max-width:700px){
    .movie-container{
        margin-left:0px;
    } 
} 


.movie-language-type{
    display: flex;
    padding-top:38px;
    width: 100%;
    height:236px;
    padding-left: 3%;
    overflow-x:auto;
    position: relative;
    box-sizing: border-box;
    white-space: nowrap;
    overflow-y:hidden;
}
.language-type{
    width: 280px;
    height: 160px;
    border-radius: 10px;
    margin-left: 0.8%;
    /* border:2px solid yellow; */
}
.language-type img{
    width: 280px;
    height: 100%;
    border-radius: 10px;
}
.language-type:hover{
    scale: 1.12;
    z-index: 5;
}
.movie-language-type::-webkit-scrollbar {
    display: none;
  }


  .video-type{
    display: flex;
    padding-top:5px;
    width: 100%;
    height:200px;
    padding-top: 20px;
    z-index: 1px;
    padding-left: 3%;
    overflow-x:auto;
    position: relative;
    box-sizing: border-box;
    white-space: nowrap;
    overflow-y:hidden;
  }
  .type{
    width: 244px;
    height: 140px;
    border-radius: 10px;
    margin-left: 0.8%;
  }
  .type video{
    width: 244px;
    height: 100%;
    border-radius: 10px;
  }
  .type:hover{
    scale: 1.2;
  }
  .video-type::-webkit-scrollbar {
    display: none;
  }

  /* -----coupon------- */
  #coupon{
    height: 400px;
    width: 70%;
    background-color: rgb(42, 123, 123);
    position: absolute;
    margin-top: 10%;
    margin-left: 15%;
    z-index: 10;
    border-radius: 10px;
    /* visibility: hidden; */
    opacity:1;
    background-image: url(./coupon/SultanofDelhiDated_deskXBB-7f2eb68a-1c1f-40da-b681-eb8bcc0dddbe.jpg);
    background-size:cover;
    background-repeat:no-repeat;
  }
  #coupon button{
    width: auto;
    float: right;
    font-size: 25px;
    border: none;
    border-radius: 0px 10px 0px 10px ;
    z-index: 1;
  }

  /* weather */
  #weathercoupon{
    height: 200px;
    width: 400px;
    background-color: rgb(190, 201, 208);
    position: absolute;
    margin-top: 10%;
    margin-left: 20%;
    z-index: 10;
    border-radius: 10px;
    visibility: hidden;
    border: 4px solid rgb(0, 80, 127);
    
  }
  #weathercoupon button{
    width: auto;
    float: right;
    font-size: 25px;
    border: none;
    border-radius: 0px 10px 0px 10px ;
    z-index: 1;
  }

  #weathercoupon p{
    margin: 10px;
    width:auto;
    color: #000000;
    font-size: 20px;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  }

  @media only screen and (max-width:600px) {
    #weathercoupon{
        width: 60%;
        height: 140px;
  }
  #weathercoupon p{
    font-size: 14px;
  }
}

/* --------------------description pack details----------------- */